<!-- EXTEND MAIN CONTENT -->
{% extends 'store/main.html' %}

<!-- LOAD STATIC FILES -->
{% load static %}

<!-- OUR CONTENT -->
{% block content %}

<div class="row">

    <!-- FIRST SECTION  -->
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">

            <!-- FORM SECTION -->
            <form id="form" action="">

                <!-- USER -->
                <div id="user-info">

                    <!-- Name -->
                    <div class="form-field">
                        <input type="text" required_class="form-control" name="name" placeholder="Name">
                    </div>

                    <!-- Email -->
                    <div class="form-field">
                        <input type="email" required_class="form-control" name="email" placeholder="Email">
                    </div>

                </div>
                <!-- SHIPPING -->
                <div id="shipping-info">

                    <hr>
                    <p>Shipping Information</p>
                    <hr>

                    <!-- Address -->
                    <div class="form-field">
                        <input type="text" required_class="form-field" name="address" placeholder="Address">
                    </div>
                    <!-- City -->
                    <div class="form-field">
                        <input type="text" required_class="form-field" name="city" placeholder="City">
                    </div>
                    <!-- State -->
                    <div class="form-field">
                        <input type="text" required_class="form-field" name="state" placeholder="State">
                    </div>
                    <!-- Zip Code -->
                    <div class="form-field">
                        <input type="text" required_class="form-field" name="zipcode" placeholder="Zip Code">
                    </div>
                    <!-- Cpuntry -->
                    <div class="form-field">
                        <input type="text" required_class="form-field" name="country" placeholder="Country">
                    </div>
                </div>
                <hr>
                <input id="form-button" class="btn btn-success btn-block" value="continue" type="submit">
            </form>

        </div>
        <br>

        <!-- PAYMENT SECTION  -->
        <div class="box-element hidden" id="payment-info">
            <small>Paypal Options</small>
        </div>
    </div>

    <!-- SCOND SECTION  -->
    <div class="col-lg-6">
        <div class="box-element">

            <!-- BACK TO CART -->
            <a class="btn btn-outline-dark" href="{% url 'cart' %}"> &#x2190; Back to Cart </a>
            <hr>
            <!-- ORDER SUMMARY -->
            <h3>Order Summary</h3>
            <hr>
            <div class="cart-row">
                <div style="flex:2;"> <img class="row-image" src="{% static  'images/placeholder.png' %}" alt=""> </div>
                <div style="flex:2;"> <p>   Product 1 </p> </div>
                <div style="flex:2;"> <p>   $20       </p> </div>
                <div style="flex:1;"> <p>   x2        </p> </div>
            </div>
            <h5> Items: 2 </h5>
            <h5> Total: $4 </h5>
        </div>
    </div>

</div>

{% endblock content %}